---
import type { GetStaticPaths } from "astro";
import MainLayout from "../../layouts/MainLayout.astro";
import PokemonCard from "../../components/pokemons/PokemonCard.astro";

export const getStaticPaths = (() => {
    
    return [
        {
            params: { name: "bulbasaur"},
            props:{ pokemon: { name: "bulbasaur", url: "https://pokeapi.co/api/v2/pokemon/1/"}}
        },
        {
            params: { name: "ivysaur" },
            props:  { pokemon: { name: "ivysaur", url: "https://pokeapi.co/api/v2/pokemon/2/"}}
        }
    ];
}) satisfies GetStaticPaths;
interface Props {
    pokemon: {
        name: string;
        url:  string;
    }
} 

const{ name } = Astro.params;
const { pokemon } = Astro.props;
const id = pokemon.url.split('/').at(-2);
const audioSrc = `https://raw.githubusercontent.com/PokeAPI/cries/main/cries/pokemon/latest/${id}.ogg`;
console.log("🚀 ~ audioSrc:", audioSrc)
---


<MainLayout title="">
    <section class="grid grid-cols-3 gap-4">
        <div>
            <a href="/">Regresar</a>
            <h1 class="text-5xl capitalize"> {name} </h1>
        </div>
    </section>
    <PokemonCard pokemon={pokemon} />
    <audio controls class="mt-5">
        <source src={audioSrc} type="audio/ogg" />
        Your browser does not support the audio element.
    </audio>
</MainLayout>
<style>
    {
        @apply hover:underline text-blue-500;
    }
</style>