---
import { Counter } from "@components/counter";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---
<MainLayout title="Astro Course | Favorites">
    <Title>Lista de Favoritos</Title>
    <div
        style={{
            height: "200px",
            background: "red",
            opacity: 0.4,
        }}
    >

    </div>
    <Counter 
        transition:persist="counter"
        transition:persist-props
        client:visible 
        initialValue={10}
    >
    <Title>Favoritos</Title>
    </Counter>


</MainLayout>
