---
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---
<MainLayout title="Astro Course | Favorites">
    <Title>Lista de Favoritos</Title>
    <section class="grid grid-cols-4 gap-2">
        <p>Lista de favoritos</p>
    </section>
</MainLayout>
