---
import { Counter } from "@components/counter";
import Title from "@components/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";


---
<MainLayout title="Astro Course | Favorites">
    <Title>Islas</Title>
    <div
        style={{
            height: "290px",
            background: "gray",
            opacity: 0.4,
        }}
    >
    <dotlottie-player src="https://lottie.host/7401522f-2d8b-4049-ad18-eb0edb6af224/CE9lFrNlEH.json" background="transparent" speed="1" style="width: 300px; height: 300px" direction="1" playMode="normal" loop  autoplay></dotlottie-player>		
    </div>
    <Counter 
        transition:persist="counter"
        client:visible 
        transition:persist-props
        initialValue={20}
    
    >
    <Title>Islas</Title>
    </Counter>


</MainLayout>
